@using Microsoft.Extensions.Options;
@using hello_uship.Configuration;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<h1>@OptionsApplicationConfiguration.Value.ImportantMessage</h1>